:root{
    --back-color:#add3ff;
    --boton-color:#ffce1f;
    --dark-color:#2d2c2a;
}


.login{
    width: 50vw;  
}
form.ingresar{
    display: flex;
    flex-direction: column;
    margin-left:100px;
    margin-right:100px;
}

.titulo{
    margin-bottom: 30px;
}
h2{
    font-size: 2rem;
    padding-bottom: 5px;
}
p{
    color: gray;
}


input{
    height: 40px;
    border:var(--back-color) 2px solid; 
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button{
    border:none;
    border-radius: 30px;
    background-color: var(--boton-color);
    height: 50px;
    width: 200px;
    margin: 30px;
}

a{
    text-decoration: none;
}

